<section class="flex w-full bg-black sticky top-[53.59px] z-30">
    <section class="flex justify-center items-center w-full border-r-[1px] border-[#ffffff30]">
        <app-hero-search class="w-[60%]"></app-hero-search>
    </section>
    <section class="max-w-[470px]">
        <div class="flex justify-between p-4 border-b-[1px] border-[#ffffff30] font-[470]">
            <h6 class="text-[0.86rem] text-[#ffffffcc]">Upcoming Events</h6>
            <p class="text-[0.78rem] text-[#ffffff80]">Fri Oct 18, 2024</p>
        </div>
        <app-main-highlight-card></app-main-highlight-card>
        <app-secondary-highlight-card></app-secondary-highlight-card>
    </section>
</section>