<app-navigation></app-navigation>
<app-hero-section></app-hero-section>
<div class="grid gap-[1px] grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 z-40 relative border-t-[0.5px] border-[#ffffff1b] bg-[#303030] flex-wrap"
    id="events">
    <app-event-card src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/c24e22129244035.6166ee5134420.png" />
    <app-event-card
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/50f59dfe-f3de-4253-98ed-41972905ee82/dcbwd1z-d1891834-bb4d-4204-b6b3-bdc7e243975e.jpg/v1/fit/w_828,h_1226,q_70,strp/netflix___the_protector_concept_poster_design_by_omrkse10_dcbwd1z-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUxNyIsInBhdGgiOiJcL2ZcLzUwZjU5ZGZlLWYzZGUtNDI1My05OGVkLTQxOTcyOTA1ZWU4MlwvZGNid2Qxei1kMTg5MTgzNC1iYjRkLTQyMDQtYjZiMy1iZGM3ZTI0Mzk3NWUuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.gzjRTXvxfkIdH53dFjQp0m06KXfmsz74JnFVPqOOAwM" />
    <app-event-card
        src="https://m.media-amazon.com/images/M/MV5BNjIxNTU5NGYtMDI5Zi00N2E4LWI2NzgtNzk5ZTczY2ZjMTQ0XkEyXkFqcGc@._V1_FMjpg_UX1200_.jpg" />
    <app-event-card
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/b93f2d151691411.63106be98234a.jpg" />
    <app-event-card
        src="https://dnm.nflximg.net/api/v6/2DuQlx0fM4wd1nzqm5BFBi6ILa8/AAAAQdttJvszpXZZDRBx6bLQprJt918HrS1MGOej3W88GrkfOeL-kUJn66TfXKYxd1B7r3ZDxo2Wlo-FjgzFUvSNrR9FRSrUq-aW0Jzip6mBrJvjEm7pVt72u_XErbyxZZ5RJNJpnOdy_3z2VabskP99G_ie.jpg" />
    <app-event-card
        src="https://dnm.nflximg.net/api/v6/2DuQlx0fM4wd1nzqm5BFBi6ILa8/AAAAQdttJvszpXZZDRBx6bLQprJt918HrS1MGOej3W88GrkfOeL-kUJn66TfXKYxd1B7r3ZDxo2Wlo-FjgzFUvSNrR9FRSrUq-aW0Jzip6mBrJvjEm7pVt72u_XErbyxZZ5RJNJpnOdy_3z2VabskP99G_ie.jpg" />
    <app-event-card
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/b93f2d151691411.63106be98234a.jpg" />
    <app-event-card
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/50f59dfe-f3de-4253-98ed-41972905ee82/dcbwd1z-d1891834-bb4d-4204-b6b3-bdc7e243975e.jpg/v1/fit/w_828,h_1226,q_70,strp/netflix___the_protector_concept_poster_design_by_omrkse10_dcbwd1z-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUxNyIsInBhdGgiOiJcL2ZcLzUwZjU5ZGZlLWYzZGUtNDI1My05OGVkLTQxOTcyOTA1ZWU4MlwvZGNid2Qxei1kMTg5MTgzNC1iYjRkLTQyMDQtYjZiMy1iZGM3ZTI0Mzk3NWUuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.gzjRTXvxfkIdH53dFjQp0m06KXfmsz74JnFVPqOOAwM" />
    <app-event-card
        src="https://m.media-amazon.com/images/M/MV5BNjIxNTU5NGYtMDI5Zi00N2E4LWI2NzgtNzk5ZTczY2ZjMTQ0XkEyXkFqcGc@._V1_FMjpg_UX1200_.jpg" />
    <app-event-card
        src="https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQfPoHpXIJupaYwhVHH46ulbXf2NOhhjgpYx6tf_64e22qSskEppbbI2_BRniG5J4mio1iRwD7e1903yOaivIPz1muQ7EHbG_DNmAgVIbHG3jjcvCpatAXb6DjswkS6WMojBOlydLyC4-Sq0rzFH6XOV73H0.jpg" />
    <div
        class="w-full h-full absolute top-0 left-0 bg-black opacity-35 hover:opacity-0 transition-opacity duration-700 cursor-pointer">
    </div>
</div>
<router-outlet />