<section class="flex justify-between h-[calc(100%-(53.59px))] overflow-y-scroll">
    <section class="w-full border-r border-[#ffffff30] overflow-y-scroll relative">
        <app-event-list />
        <app-event-list />
        <app-event-list />
        <app-event-list />
        <app-event-list />
    </section>
    <section class="w-[80%] overflow-y-scroll">
        <app-log eventName="Los Angeles Design Week 2024" ticketType="Standard Ticket" />
        <app-log type="RELEASE" eventName="Los Angeles Design Week 2024" ticketType="Standard Ticket"
            [numberOfReleasedTickets]="24" />
        <app-log eventName="Los Angeles Design Week 2024" ticketType="Standard Ticket" />
        <app-log type="RELEASE" eventName="Los Angeles Design Week 2024" ticketType="Standard Ticket"
            [numberOfReleasedTickets]="24" />
        <app-log eventName="Los Angeles Design Week 2024" ticketType="Standard Ticket" />
        <app-log eventName="Los Angeles Design Week 2024" ticketType="Standard Ticket" />
        <app-log eventName="Los Angeles Design Week 2024" ticketType="Standard Ticket" />
    </section>
</section>