<section class="flex w-full h-full justify-center">
    <div class="mt-28">
        <div class="flex gap-3">
            <button class="rotate-180 hover:bg-[#ffffff26] rounded-md transition-colors" *ngIf="view !== View.EMAIL"
                (click)="navigateToView(view-1)">
                <icon-right-arrow />
            </button>
            <a href="/">
                <icon-logo width="55" />
            </a>
        </div>
        <div class="mt-10">
            <div class="flex flex-col gap-3.5">
                <ng-container *ngIf="view === View.EMAIL">
                    <h6 class=" text-[0.84rem]">Enter your email to get started!</h6>
                    <app-input type="text" placeholder="Email Address" [form]="form" formName="email" />
                    <button
                        class="mt-3 w-[320px] p-2 px-4 border-[1.6px] border-[#ffffff08] bg-[#ffffff0f] hover:bg-[#ffffff14] transition-colors rounded-lg text-[0.82rem] text-[#ffffffb3]"
                        (click)="submit('email')">Next</button>
                </ng-container>
            </div>
            <ng-container *ngIf="view === View.PASSWORD">
                <div class="flex flex-col gap-3.5">
                    <h6 class="text-[0.84rem]">Enter your password</h6>
                    <app-input type="password" placeholder="Password" formName="password" />
                    <button
                        class="mt-3 w-[320px] p-2 px-4 border-[1.6px] border-[#ffffff08] bg-[#ffffff0f] rounded-lg text-[0.82rem] text-[#ffffffb3] hover:bg-[#ffffff14] transition-colors"
                        (click)="submit('password')">Sign
                        In</button>
                </div>
            </ng-container>
            <ng-container *ngIf="view === View.CREATE_ACCOUNT">
                <div class="flex flex-col gap-3.5">
                    <h6 class="text-[0.84rem]">Enter your Personal Information</h6>
                    <app-input type="text" placeholder="First Name" formName="first_name" />
                    <app-input type="text" placeholder="Last Name" formName="last_name" />
                    <button
                        class="mt-3 w-[320px] p-2 px-4 border-[1.6px] border-[#ffffff08] bg-[#ffffff0f] rounded-lg text-[0.82rem] text-[#ffffffb3] hover:bg-[#ffffff14] transition-colors"
                        (click)="navigateToView(View.SET_PASSWORD)">Next</button>
                </div>
            </ng-container>
            <ng-container *ngIf="view === View.SET_PASSWORD">
                <div class="flex flex-col gap-3.5">
                    <h6 class="text-[0.84rem]">Enter your Credentials</h6>
                    <app-input type="password" placeholder="Password" [strength]="true" formName="new_password" />
                    <button
                        class="mt-4 w-[320px] p-2 px-4 border-[1.6px] border-[#ffffff08] bg-[#ffffff0f] rounded-lg text-[0.82rem] text-[#ffffffb3] hover:bg-[#ffffff14] transition-colors"
                        (click)="submit('create')">Create Account</button>
                </div>
            </ng-container>
        </div>
    </div>
</section>