@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    height: 100%;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.035em;
    overscroll-behavior-y: none;
    color: white;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}